$color-darkgray: #4a4a4a;
$color-gray: #9b9b9b;
$color-blue: #27bdbd;
$color-red: #ec1940;
$color-green: #3cb185;
$color-orange: #e89d51;
$color-ocean: #2e8dbd;
$color-gray-light: #dedede;

$primary:       $color-ocean;
$secondary:     $color-gray;
$success:       $color-green;
$info:          $color-blue;
$warning:       $color-orange;
$danger:        $color-red;
$light:         $color-gray-light;
$dark:          $color-darkgray;